<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <title>CH-5 Lazarus</title>
    <link rel="stylesheet" href="/styles/game_style.css" />
  </head>
  <body>
    <div class="container">
      <div class="border border-3 border-secondary mt-5 mx-auto">
        <!-- awal head -->

        <div class="area-head d-flex">
          <img src="/assets/game/chevron-left.svg" class="img-fluid" alt="" />
          <p class="text">ROCK PAPER SCISSORS</p>
        </div>
        <div class="d-flex justify-content-around judul">
          <p>PLAYER 1</p>
          <p>COMPUTER</p>
        </div>

        <!-- akhir head -->

        <!-- awal area player -->

        <div class="area-player d-flex flex-column img-fluid">
          <img src="/assets/game/batu.png" class="batu" alt="" />
          <img src="/assets/game/gunting.png" class="gunting" alt="" />
          <img src="/assets/game/kertas.png" class="kertas" alt="" />
        </div>

        <!-- akhir area player -->

        <!-- awal area computer -->

        <div class="area-computer d-flex flex-column img-fluid">
          <img src="/assets/game/batu.png" class="gambar-computer-batu" id="pilih-batu" alt="" />
          <img src="/assets/game/gunting.png" class="gambar-computer-gunting" id="pilih-gunting" alt="" />
          <img src="/assets/game/kertas.png" class="gambar-computer-kertas" id="pilih-kertas" alt="" />
        </div>
      </div>

      <!-- akhir area computer -->

      <!-- awal refresh -->

      <div class="refresh" id="reset">
        <img src="/assets/game/refresh.png" class="img-fluid" alt="" />
      </div>

      <!-- akhir refresh -->

      <!-- awal hasil -->

      <div class="hasil">
        <p class="info">VS</p>
      </div>

      <!-- akhir hasil -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="/script/game.js"></script>
  </body>
</html>
