<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/home_style.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

        <title>Hello, world!</title>
      </head>
      <body>
        <!-- awal navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(44, 44, 44, 0.5)">
          <div class="container gambar">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-5" id="navbarNav">
              <ul class="navbar-nav ms-5">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/home">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">WORK</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ABOUT ME</a>
                </li>
              </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">SIGN UP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login">LOGIN</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- akhir navbar -->

        <!-- awal sesi pertama -->
        <div class="jumbotron">
          <h1 class="display-4">PLAY TRADITIONAL GAME</h1>
          <h2 class="lead">Experience new traditional game play</h2>
          <a class="btn btn-warning btn-lg" href="/games" role="button">Play Now</a>
        </div>
        <!-- akhir sesi pertama -->

        <!-- awal sesi kedua -->
        <div class="jumbotron-pertama">
          <div class="container">
            <div class="row">
              <div class="col font">
                <p>What's so special ?</p>
                <h1>THE GAMES</h1>
              </div>
              <div class="col-8 mtop">
                <div class="sidebar-satu">
                  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/assets/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                      </div>
                      <div class="carousel-item">
                        <img src="/assets/home/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="..." />
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- akhir sesi kedua -->

        <!-- awal sesi ketiga -->
        <!-- <div class="jumbotron-dua">
          <h6 class="display-4">What's so special ?</h6>
          <h2 class="lead">FEATURES</h2>
          <div class="isi">
            <h5>TRADITIONAL GAMES</h5>
            <p>
              if you miss your childhood we provide <br />
              many traditional games here
            </p>
          </div>
          <div class="game-suit">
            <h5>GAME SUIT</h5>
          </div>
          <div class="tbd">
            <h5>TBD</h5>
          </div>
        </div> -->

        <div class="jumbotron-kedua">
          <div class="container">
            <div class="row">
              <div class="col"></div>
              <div class="col-10">
                <div class="judul">
                  <h6 class="display-4">What's so special ?</h6>
                  <h2 class="lead">FEATURES</h2>
                </div>
                <div class="isi">
                  <!-- <img src="assets/circle.svg" alt="" class="lingkaran" /> -->
                  <div class="lingkaran"></div>
                  <i class="bi bi-arrow-bar-right"></i>
                  <h5>TRADITIONAL GAMES</h5>
                  <p>
                    if you miss your childhood we provide <br />
                    many traditional games here
                  </p>
                </div>
                <div class="isi-2">
                  <div class="lingkaran"></div>
                  <h5>GAME SUIT</h5>
                  <h5>TBD</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- akhir sesi ketiga -->

        <!-- awal sesi keempat -->
        <div class="jumbotron-tiga">
          <div class="text">
            <div class="container">
              <div class="row">
                <div class="col-5">
                  <h1 style="font-size: 75px">
                    SYSTEM <br />
                    REQUIREMENTS
                  </h1>
                </div>
                <div class="col">
                  <p class="paragraf mt-5">Can My Computer Run this game ?</p>
                </div>
              </div>
            </div>
          </div>
          <div class="container mt-5">
            <div class="row">
              <div class="col-6 col-sm-3 tengah" style="border: 1px solid white">
                <h5>OS:</h5>
                <p>Windows 7 64-bit only<br />(No OSX support at this game)</p>
              </div>
              <div class="col-6 col-sm-3" style="border: 1px solid white">
                <h5>PROCESSOR:</h5>
                <p>Intel Core 2 Duo @ 2.4GHZ or<br />AMD Athion X2 @ 2.8GHZ</p>
              </div>

              <!-- Force next columns to break to new line -->
              <div class="w-100"></div>

              <div class="col-6 col-sm-3" style="border: 1px solid white">
                <h5>mEMORY:</h5>
                <p>4 GB RAM</p>
              </div>
              <div class="col-6 col-sm-3" style="border: 1px solid white">
                <h5>STORAGE:</h5>
                <p>8 GB available space</p>
              </div>

              <div class="w-100"></div>
              <div class="col-6 col-sm-6" style="border: 1px solid white">
                <h5>GRAPHICS:</h5>
                <p>NVIDIA GeForce GTX 660 2GB or<br />AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
              </div>
            </div>
          </div>
        </div>
        <!-- akhir sesi keempat -->

        <!-- awal sesi kelima -->
        <div class="jumbotron-empat">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <div class="judul">
                  <h1 class="judul">TOP SCORES</h1>
                  <p class="paragraf">This top score from various games provided<br />on this platform</p>
                  <a class="btn btn-warning btn-lg mt-3 ps-5 pe-5" href="#" role="button">see more</a>
                </div>
              </div>

              <div class="col judul-2">
                <div class="card bg-dark bg-gradient border-2 mt-4 ms-5 latar-belakang" style="width: 27rem">
                  <img src="/assets/home/evan-lahti.jpg" alt="" class="gambar mt-2 ms-2" />
                  <div class="card-body">
                    <img src="/assets/home/twitter.svg" alt="" class="ikon" />
                    <h4 class="card-title">Evan Lahti</h4>
                    <h6 class="card-title-2">PC Gamer</h6>
                  </div>
                  <p class="card-text mt-3 ms-2">"One of my gaming hightlights of the year"</p>
                  <p class="card-text-2 ms-2" style="font-size: 12px">October 18, 2018</p>
                </div>

                <div class="card bg-dark bg-gradient border-2 mt-3 latar-belakang" style="width: 27rem">
                  <img src="/assets/home/jada-griffin.jpg" alt="" class="gambar mt-2 ms-2" />
                  <div class="card-body">
                    <img src="/assets/home/twitter.svg" alt="" class="ikon" />
                    <h4 class="card-title">Jada Griffin</h4>
                    <h6 class="card-title-2">Nerdreactor</h6>
                  </div>
                  <p class="card-text mt-3 ms-2">"The next big thing in the world of streaming<br />and survival games"</p>
                  <p class="card-text-2 ms-2" style="font-size: 12px">December 21, 2018</p>
                </div>

                <div class="card bg-dark bg-gradient border-2 mt-3 ms-5 mb-5 latar-belakang" style="width: 27rem">
                  <img src="/assets/home/aaron-williams.jpg" alt="" class="gambar mt-2 ms-2" />
                  <div class="card-body">
                    <img src="/assets/home/twitter.svg" alt="" class="ikon" />
                    <h4 class="card-title">Aaron Williams</h4>
                    <h6 class="card-title-2">Uproxx</h6>
                  </div>
                  <p class="card-text mt-3 ms-2">"Snoop Dogg Playing The Wildly Entertaining<br />'SOS' Is Ridiculous"</p>
                  <p class="card-text-2 ms-2" style="font-size: 12px">December 24, 2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- akhir sesi kelima -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      </body>
    </html>
  </body>
</html>
