<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/login_style.css" />
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

        <title>Hello, world!</title>
      </head>
      <body>
        <!-- awal navbar -->
        <!-- <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: rgb(44, 44, 44, 0.5)">
          <div class="container gambar">
            <a class="navbar-brand" href="#">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-5" id="navbarNav">
              <ul class="navbar-nav ms-5">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="/home">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">WORK</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">CONTACT</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">ABOUT ME</a>
                </li>
              </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#">SIGN UP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/login">LOGIN</a>
                </li>
              </ul>
            </div>
          </div>
        </nav> -->
        <!-- akhir navbar -->

        <!-- awal login -->
        <h1>Login</h1>
        <% if (messages.error) { %> <%= messages.error %> <% } %>
        <form action="/login" method="POST">
          <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
          </div>
          <button type="submit">Login</button>
        </form>
        <a href="/register">Register</a>

        <!-- akhir login -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      </body>
    </html>
  </body>
</html>
