.container {
  position: relative;
}

.border {
  width: 800px;
  max-height: 600px;
  background-color: rgb(206, 147, 58);
}

.text {
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(255, 213, 23);
  padding-top: 16px;
}

.area-head {
  padding-left: 20px;
}

.area-player {
  width: 50px;
}

.area-computer {
  width: 50px;
  position: relative;
  bottom: 307px;
  left: 565px;
}

.area-player {
  position: relative;
  left: 165px;
  padding-top: 20px;
}

.area-player .batu {
  padding-top: 30px;
}

.area-player .gunting {
  padding-top: 50px;
  padding-bottom: 50px;
}

.area-computer .gambar-computer-batu {
  padding-top: 45px;
}

.area-computer .gambar-computer-gunting {
  padding-top: 50px;
  padding-bottom: 50px;
}

.judul {
  position: relative;
  top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.hasil {
  display: flex;
  position: relative;
  bottom: 400px;
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  color: red;
}

.refresh {
  width: 30px;
  display: flex;
  position: relative;
  bottom: 120px;
  left: 545px;
  justify-content: center;
  cursor: pointer;
}

.batu,
.kertas,
.gunting {
  transition: 0.3s;
  position: relative;
  top: 0;
  cursor: pointer;
}

.batu:hover,
.kertas:hover,
.gunting:hover,
.active {
  box-shadow: 0 0 10px 5px red;
}

.batu:active,
.kertas:active,
.gunting:active {
  top: 2px;
}
