/* awal style navbar */

.navbar {
  font-weight: bold;
  font-size: 12px;
}

.gambar ul {
  padding-left: 50px;
}

/* akhir navbar */

/* awal style sesi pertama */

.jumbotron {
  background-image: url("/assets/home/main-bg.jpg");
  background-size: cover;
  height: 900px;
  margin-top: -230px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  padding-top: 5em;
  font-weight: bold;
  font-size: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron h2 {
  color: white;
  text-align: center;
  padding-top: 1em;
  font-weight: bold;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron a {
  margin-left: 36em;
  margin-top: 50px;
  font-weight: bold;
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
}

.text-bottom {
  margin-left: 50px;
  text-align: justify;
  font-weight: reguler;
  font-size: 18px;
  font-family: sans-serif;
}

.text-top {
  margin-left: 50px;
  font-size: 80px;
  font-weight: bold;
}

/* akhir style sesi pertama */

/* awal style sesi kedua */

.jumbotron-pertama {
  background-image: url("/assets/home/the-games-bg.jpg");
  background-size: cover;
  box-sizing: border-box;
  height: 900px;
}

.jumbotron-pertama .mtop {
  margin-top: 250px;
}

.jumbotron-pertama .font {
  margin-top: 200px;
  color: white;
}

.jumbotron-pertama .font h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.jumbotron-pertama .font p {
  position: relative;
  top: 20px;
}

.isi .lingkaran {
  position: relative;
  right: 33px;
  top: 20px;
  width: 15px;
  height: 15px;
  border: solid white;
  border-radius: 50%;
}

.isi .kotak {
  position: absolute;
  top: 60px;
  left: 520px;
  width: 1;
  height: 100px;
  border-radius: 5%;
}

.isi-2 .lingkaran {
  position: relative;
  left: 522px;
  bottom: 30px;
  width: 15px;
  height: 15px;
  border: solid white;
  background-color: white;
  border-radius: 50%;
}

/* akhir style sesi kedua */

/* awal style sesi ketiga */

.jumbotron-kedua {
  background-image: url("/assets/home/features.jpg");
  background-size: cover;
  box-sizing: border-box;
  height: 900px;

  /* margin-top: -75px; */
}

.jumbotron-kedua .judul {
  margin-top: 60px;
}

.jumbotron-kedua .judul h6 {
  color: white;
  font-size: 18px;
  padding-left: 60%;
  padding-top: 10%;
  position: relative;
  top: 10px;
}

.jumbotron-kedua .judul h2 {
  color: white;
  font-size: 36px;
  font-weight: bold;
  padding-left: 60%;
  padding-bottom: 15%;
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron-kedua .isi {
  padding-left: 60%;
  color: white;
  margin-bottom: 150px;
  position: relative;
  bottom: 70px;
  left: 30px;
}

.jumbotron-kedua .isi h5 {
  color: rgb(196, 167, 4);
}

.jumbotron-kedua .isi p {
  font-size: 15px;
}

.jumbotron-kedua .isi-2 {
  position: relative;
  bottom: 120px;
  left: 30px;
}

.jumbotron-kedua .isi-2 h5 {
  padding-left: 60%;
  color: rgb(196, 167, 4);
  position: relative;
  margin-bottom: 100px;
}

.jumbotron-kedua .isi-2 h5 {
  padding-left: 60%;
  color: rgb(196, 167, 4);
  position: relative;
  bottom: 50px;
}

/* .jumbotron-kedua .isi-3 h5 {
    position: relative;
    bottom: 50px;
    color: rgb(196, 167, 4);
  } */

/* akhir style sesi ketiga */

/* awal style sesi keempat */

.jumbotron-tiga {
  background-image: url("/assets/home/requirements.png");
  background-size: cover;
  height: 900px;
  color: white;
}

.jumbotron-tiga .row {
  position: relative;
  top: 150px;
}

/* akhir style sesi keempat */

/* awal style sesi kelima */
.card img {
  border-radius: 50%;
  width: 75px;
}

.card {
  position: relative;
  height: 190px;
}

.card-body {
  position: absolute;
  left: 80px;
  bottom: 90px;
}

.judul {
  margin-top: 230px;
  color: white;
}

.judul .btn {
  font-size: small;
  font-weight: bold;
}

.judul h1 {
  font-size: 55px;
}

.jumbotron-empat {
  background-image: url("/assets/home/top-score-bg.png");
  background-size: cover;
}

.card-body img {
  margin-left: 200px;
}

.card-body img {
  position: relative;
  left: 80px;
  top: 20px;
  width: 20px;
}

.judul-2 {
  color: white;
}
/* akhir style sesi kelima */
